a {
  color: var(--c-accents-primary);
  text-decoration: underline dashed;
  text-decoration-thickness: 0.05rem;
  text-decoration-skip: spaces objects edges box-decoration;
  text-decoration-skip-ink: auto;
  /* border-bottom: 1px dashed currentColor; */
  transition: color 0.2s ease-out;
}
a:hover,
a:focus {
  color: var(--c-accents-primary);
}
